.body {
  height: 280px;
  width: 550px;
  margin: 80px auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  text-align: center;
}

table {
  margin: 10px;
}

.input {
  display: block;
  margin-left: 40px;
}

button {
  border-radius: 10px;
}