body {
    background-color: azure;
    background-image: url(pattern.jpg);
}

fieldset {
    width: 800px;
    background-color: white;
    height: 200px;
    margin: 80px auto;
    padding: 10px;
    border: 3px solid grey;
}