body {
    background-color: azure;
    background-image: url(pattern.jpg);
}

fieldset {
    background-color: white;
    height: 550px;
    width: 700px;
    margin: 80px auto;
    padding: 10px;
    border: 3px solid grey;
}

.box input {
    margin-left: 60px;
}

.box2 input {
    
}

form textarea {
    margin-left: 25px;
}