body {
    background-color: white;
    background-image: url(pattern.jpg);
}


li {
    list-style: none;
    float: left;
    padding: 2px 20px;
    
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

nav ul {
    float: right;
    display: flex;
}


header {
    background-color: white;
    color: #fff;
    height: 50px;
    width: 1337px;
    
}

header img {
    float: left;
    display: flex;
}


fieldset {
    background-color: white;
    height: 600px;
    width: 900px;
    margin: 80px auto;
    border: 3px solid grey;
}


footer {
    background-color: black;
    color: #fff;
    height:50px;
}

footer h5 {
    padding-top: 20px;
    text-align: center;
}
